node_modules

/.cache
/build
/coverage
/public/build
/public/uploads
.env
tsconfig.tsbuildinfo
content.json

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# IDEs
.idea

lefthook-local.yml
.DS_Store

# Gerichtsfinder data
**/gerichtsfinder/_data/

/.vscode/
.eslintcache
