.cache/
build/
coverage/
node_modules/
patches/
playwright-report/
public/
*.enc
data/saml/sp_login_request_template.xml
data/xml
app/util/__test__/malformed.json
*.zip
*.py
start.sh
.nvmrc
.prettierignore
.env.example
test.env
Dockerfile
*.Dockerfile
.gitignore
*.snap
*.sh
*.otf
*.pdf
*.generated.ts
sonar-project.properties
.dockerignore
scripts/data/cities_airports_de.csv
.react-router/
