.cache/
build/
coverage/
node_modules/
playwright-report/
public/
*.enc
app/util/__test__/malformed.json
*.zip
*.py
start.sh
.nvmrc
.prettierignore
.env.example
test.env
Dockerfile
*.Dockerfile
.gitignore
*.snap
*.sh
*.ttf
*.pdf
*.generated.ts
sonar-project.properties
.dockerignore
scripts/cities_airports_de.csv
