@layer theme, base, utilities;

@import "@kern-ux/native/dist/kern.min.css" layer(base);
@import "@kern-ux/native/dist/fonts/fira-sans.css" layer(base);

@import "tailwindcss" layer(theme);

@import "@digitalservicebund/kern-ux-tailwind-theme/theme.css" layer(theme);

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer utilities {
  /* icons styling at the inline notice */
  .app-icon--info {
    color: var(--color-kern-feedback-info);
  }
  .app-icon--warning {
    color: var(--color-kern-feedback-warning);
  }
  .app-icon--success {
    color: var(--color-kern-feedback-success);
  }
  .app-icon--danger {
    color: var(--color-kern-feedback-danger);
  }

  /* prevents Kern to style the inner input */

  .kern-form-input input:focus,
  .kern-form-input input:focus-visible {
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  /* remove Kern focus visible from the inner input*/

  .kern-form-input__input input:focus-visible,
  .kern-form-input__input input:focus {
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  .grid-fluid {
    display: grid;
    /* defaults (S) */
    @apply px-16;
    --cols: 1;
    --track: 288px;
    --gap: 0px;
    @apply mx-auto max-w-screen-xl;
    grid-template-columns: repeat(var(--cols), minmax(var(--track), 1fr));
    column-gap: var(--gap);
  }

  @media (min-width: 768px) {
    .grid-fluid {
      /* @apply px-16; */
      --cols: 8;
      --track: 64px;
      --gap: 0px;
      grid-template-columns: repeat(var(--cols), minmax(var(--track), 1fr));
    }
  }

  @media (min-width: 1024px) {
    .grid-fluid {
      /* @apply px-12; */
      --cols: 12;
      --track: 54px;
      --gap: 32px;
      grid-template-columns: repeat(var(--cols), minmax(var(--track), 1fr));
    }
  }

  @media (min-width: 1280px) {
    .grid-fluid {
      /* @apply px-32; */
      --cols: 12;
      --track: 72px;
      --gap: 32px;
      grid-template-columns: repeat(var(--cols), minmax(var(--track), 1fr));
    }
  }
}
