@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  max-width: 55ch;
}

h1,
h2,
h4,
h5,
h6,
li,
p {
  max-width: 70ch;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

html {
  /* keep 16px, don't change! (e.g. angie library depends on it) */
  font-size: 16px;
}

body {
  font-family: "BundesSansWeb", "Calibri", "Verdana", "Arial", "Helvetica",
    sans-serif;
  font-size: 18px;
  line-height: 1.5;
  min-height: 100vh;
}

a {
  color: currentcolor;
}

svg {
  fill: currentColor;
}

/* Tailwind's container core plugin is disabled,
 * because its breakpoint-based nature does not fit our needs */
.container {
  @apply mx-auto;
  max-width: 59rem;
  padding: 2.5rem 1rem 3rem 1rem;
  padding-left: clamp(
    1rem,
    5vw,
    3rem
  ); /* ignored when clamp is not available */
  padding-right: clamp(
    1rem,
    5vw,
    3rem
  ); /* ignored when clamp is not available */
}

/* There is a specific design request to remove the margin above lists and below small headlines */
.rich-text ul,
.rich-text .ds-label-01-bold + p {
  @apply mt-0;
}

.text-link {
  /* IE 11 and others that don't support text-decoration-line */
  text-decoration: underline;
  @apply text-blue-800;
  @apply underline;
  @apply underline-offset-4;
  @apply decoration-1;
}

/* Only apply hover effect on devices that support it, see https://stackoverflow.com/a/28058919 */
@media (hover: hover) {
  .text-link:hover {
    @apply decoration-[3px];
  }
}

.text-link:visited {
  @apply text-[#4c2c92];
}

/* browsers without :focus-visible support */
.text-link:focus {
  @apply outline;
  @apply outline-2;
  @apply no-underline;
  @apply outline-offset-1;
  @apply text-blue-800;
  @apply outline-blue-800;
}

/* reset :focus styles for browsers with :focus-visible support */
.text-link:not(:focus-visible):focus {
  @apply outline-none;
  @apply underline;
}

/* ignored by browsers without :focus-visible support */
.text-link:focus-visible {
  @apply outline;
  @apply outline-2;
  @apply no-underline;
  @apply outline-offset-1;
  @apply !text-blue-800;
  @apply outline-blue-800;
}

.text-link:active {
  @apply text-black;
}

.details .summary-content {
  @apply bg-[position:0_8px];
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0L16 0L8 10L0 0Z' fill='%23005576'/%3E%3C/svg%3E%0A");
}

.details[open] .summary-content {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10L16 10L8 0L0 10Z' fill='%23005576'/%3E%3C/svg%3E%0A");
}

.summary-content::-webkit-details-marker {
  display: none;
}

/* when focus without the keyboard, remove the outline of the children*/
.details:not(:has(.summary-content:focus-visible)) {
  @apply outline-none;
}

/* Only apply hover effect on devices that support it, see https://stackoverflow.com/a/28058919 */
@media (hover: hover) {
  .summary-content:hover {
    @apply underline;
    @apply underline-offset-2;
    @apply decoration-2;
  }
}

.increase-tap-area {
  @apply relative;
  @apply inline-block;
}

.increase-tap-area::before {
  content: "";
  @apply absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
}

@media (max-width: 499px) {
  /* project-specific overwriting of angie styling */
  .ds-heading-01-reg {
    font-size: 2.25rem;
    line-height: 1.2222;
  }
}

.progress-bar::-webkit-progress-bar {
  @apply bg-blue-500;
  @apply h-4;
  @apply border-0;
}

.progress-bar::-webkit-progress-value {
  @apply bg-blue-800;
}

.progress-bar::-moz-progress-bar {
  @apply bg-blue-800;
}

.ds-tile input[type="radio"]:focus + label,
.ds-tile input[type="radio"]:focus-visible + label,
.ds-tile input[type="radio"]:checked + label {
  /* Increasing the border width causes neighbour elements to shift
    https://stackoverflow.com/questions/19248985/how-to-prevent-shifting-when-changing-border-width
  */
  border-color: #004b76;
}
.ds-tile input[type="radio"]:focus + label,
.ds-tile input[type="radio"]:focus-visible + label {
  background: var(--background-color-blue-200, #ecf1f4);
}
.ds-tile input[type="radio"]:checked + label {
  background: var(--background-color-blue-200, #ecf1f4);
}

.ds-tile-radio-group:has(label > input[type="radio"]:checked) {
  /* Increasing the border width causes neighbour elements to shift
    https://stackoverflow.com/questions/19248985/how-to-prevent-shifting-when-changing-border-width
  */
  border-color: #004b76;
}

/* avoid hover on mobile devices */
@media (hover: hover) and (pointer: fine) {
  .ds-tile-radio-group:has(label > input[type="radio"]:hover) {
    background: var(--background-color-blue-200, #ecf1f4);
    @apply border-blue-800;
  }
}

/* it should have same hover behaviour when press tile */
.ds-tile-radio-group:has(label > input[type="radio"]:active) {
  background: var(--background-color-blue-200, #ecf1f4);
  @apply border-blue-800;
}

/* when it's checked but not hover */
.ds-tile-radio-group:has(label > input[type="radio"]:checked):not(:hover) {
  background: var(--background-color-blue-300, #dce8ef);
  box-shadow: 0 0 0 0.125rem #004b76;
}

/* for mobile or touch screens, it does not need to see if it's hover */
@media only screen and (max-device-width: 1024px) {
  .ds-tile-radio-group:has(label > input[type="radio"]:checked) {
    background: var(--background-color-blue-300, #dce8ef);
    box-shadow: 0 0 0 0.125rem #004b76;
  }
}

.ds-tile-radio-group label .ds-radio:not(:disabled):hover {
  box-shadow: inset 0 0 0 0.125rem #004b76;
}

/* when focus, add the outline */
.ds-tile-radio-group:has(label > input[type="radio"]:focus) {
  @apply outline;
  @apply outline-offset-4;
  @apply outline-4;
  @apply outline-blue-800;
}

/* when focus without the keyboard, remove the outline */
.ds-tile-radio-group:not(:has(label > input[type="radio"]:focus-visible)) {
  @apply outline-none;
}

/* when focus with the keyboard, but not focus on the remove item button */
.auto-suggest-input:focus-within:not(:has(div > button:focus-visible)) {
  @apply outline;
  @apply outline-4;
  @apply outline-blue-800;
  outline-offset: -4px;
}

.auto-suggest-input-disabled:hover,
.auto-suggest-input-disabled:focus,
.auto-suggest-input-disabled:focus-within {
  outline-offset: 0 !important;
  outline: none !important;
  @apply bg-white !important;
}

/* when focus on the input without select an option */
.suggestion-value-container:has(div > input[type="text"]:focus):not(
    .option-was-selected
  )
  div
  span {
  @apply text-gray-600;
}

.auto-suggest-input-disabled {
  box-shadow: none;
}
