@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto;
    max-width: 59rem;
    padding: 0 clamp(1rem, 5vw, 3rem);
  }
}

.link-02-bold {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.375rem;
  text-decoration-line: underline;
  color: #000000;
}

.header h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.25rem;
  letter-spacing: 0.01rem;
  margin-top: 0px;
}

.progress-bar {
  @apply bg-blue-500;
  height: 4px;
  border: 0;
}
.progress-bar::-webkit-progress-bar {
  @apply bg-blue-500;
  height: 4px;
  border: 0;
}
.progress-bar::-webkit-progress-value {
  @apply bg-blue-800;
}
.progress-bar::-moz-progress-bar {
  @apply bg-blue-800;
}

.info-box > * + * {
  border-top: 2px solid #d3d3d3;
  padding-top: 2rem;
}

.info-box li {
  max-width: none;
}

.info-box img {
  width: 176px;
  height: 176px;
}

@media (max-width: 499px) {
  .info-box img {
    width: 80px;
    height: 80px;
  }
}
