name: NPMChecks
on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  code-quality:
    strategy:
      matrix:
        npmCMD: ["format", "lint", "typecheck", "test:coverage"]
    permissions:
      packages: read
    runs-on: ubuntu-latest
    name: npm run ${{ matrix.npmCMD }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/cached-checkout-install
      - run: npm run ${{ matrix.npmCMD }}
      - name: SonarCloud Scan
        if: ${{ github.actor != 'dependabot[bot]' && matrix.npmCMD == 'test:coverage' }}
        uses: SonarSource/sonarqube-scan-action@2500896589ef8f7247069a56136f8dc177c27ccf # v5.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
